<form [formGroup]="login">
  <mat-form-field *ngFor="let loginField of loginFields ">
    <mat-label>{{loginField.id }}</mat-label>
    <input matInput id="{{loginField.id}}" formControlName="{{loginField}}" autocomplete="off"
      type="{{loginField.type}}">
    <mat-error>{{createErrorMessage(loginField)}}</mat-error>
  </mat-form-field>
  <div class="btn-wrap">
    <button class="registration-btn">Registration</button>
    <button class="enter-btn" [disabled]="!login.valid">Login</button>
  </div>
</form>
