<footer>
  <ul class="team-contacts">
    <li>
      <a href="https://github.com/Yeeeeee1">Konstantin Kravtsov</a>
    </li>

    <li>
      <a href="https://github.com/volha1">Volha</a>
    </li>

    <li>
      <a href="https://github.com/spadarynjaALINA">Alina Husarava</a>
    </li>
  </ul>

  <p class="footer-date">©copyright 2022</p>

  <a href="https://rs.school/angular/" class="footer-image"
    ><img src="../../../../assets/images/rs_school_js.svg" alt="rs-school-ico"
  /></a>
</footer>
