@import "./../../../../assets/scss/variables";

:host {
  display: flex;
  flex-direction: column;
box-sizing: border-box;
  padding-top: 110px;
  height: calc(100% - 101px);
  margin: 0 50px;

}

h1 {
  @include fontH1;
  margin-bottom: 30px;
}

.menu {
  margin-bottom: 40px;
}

button {
  @include btn;
  color: $white;
  background: $light-red;

  width: 170px;
  &:hover {
    @include hover;
     background: $red;
  }
}

.create-col-btn {
  background: $light-blue;
  &:hover {
    @include hover;
     background: $blue;
  }
}
.create-task-btn {
  background: $light-green;
  &:hover {
    @include hover;
     background: $green;
  }
}
.columns-container {
  display: flex;
  overflow-x: auto;

  @include boardScroll;
  padding-bottom: 30px;
  height: inherit;
}

.columns-inner-container {
  width: auto;
  height: calc(100% - 50px);
  display: flex;
  margin: 25px 0;
}
