@import "./../../../../assets/scss/variables";

:host {
  display: flex;
  flex-direction: column;
  margin-top: $header-height;
  padding: 40px;
}

h1 {
  @include fontH1;
  margin-bottom: 30px;
}

.menu {
  margin-bottom: 60px;
}

button {
  background: none;
  @include btnWithBorder;
  width: 150px;
  &:hover {
    @include hover;
    color: $dark-gray;
  }
}

.columns-container {
  display: flex;
  overflow-x: scroll;
}

.columns-container::-webkit-scrollbar {
  @include boardScroll;
}
