<h1>Board title</h1>
<div class="menu">
  <button class="back-btn" mat-icon-button matTooltip="Go to main" (click)="goToMain()">
    <mat-icon aria-label="Logout">arrow_back</mat-icon>
  </button>
  <button (click)="openCreateColumnForm()">Create column</button>
  <button *ngIf="columns && columns.length > 0">Create task</button>
</div>

<div class="columns-container">
  <div class="columns-inner-container"></div>
  <app-column *ngFor="let column of columns" [column]="column"></app-column>
</div>
