header {
  background: #f0f0f0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  position: fixed;
  width:100%;
  transition: 0.8s;
  z-index: 100;
}

header.sticky {
  background: #d4d4d4;
}

.navigation {
  display: flex;

  button {
    display: block;
    margin-right: 5px;
  }
}

.logo-link {
  display: block;
  cursor: pointer;
  margin-right: 20px;
}

.boards-icon {
  font-size: 36px;
}

.boards-icon,
.logout-icon {
  color: #2f80ed;
}

.search-field {
  width: 250px;
  border: none;
  box-sizing: border-box;
  padding: 5px;
  margin-right: 30px;
  background-color: white;
}

.language-toggle {
  vertical-align: middle;
}

.login-btn {
  margin-right: 5px;
}
