<div class="register-container">
  <form [formGroup]="reg">
    <h3>Registration</h3>
    <mat-form-field *ngFor="let regField of regFields">
      <mat-label>{{regField.name }}</mat-label>
      <input matInput [id]="regField.id" autocomplete="off" [type]="regField.type" [formControlName]="regField.id"
        (click)="errorRegMsg.next('')">
      <mat-error>{{createErrorMessage(regField)}}</mat-error>

    </mat-form-field>
    <mat-error>{{errorRegMsg | async}}</mat-error>
    <div class="btn-wrap">
      <button class="enter-btn" [routerLink]="login">login</button>
      <button class="registration-btn" [disabled]="!reg.valid" (click)="createUserRequest()">Registration</button>
    </div>
  </form>
</div>
