@import "./../../../../assets/scss/_variables.scss";
form {
  h3 {
    @include fontH3;
  }
  @include form;
  input {
    @include input;
    background: $white;
  }
  button {
    @include btn;

    &:hover {
      @include hover;
    }
  }
  .registration-btn {
    color: $white;
    background: $light-blue;

    &:hover {
      background: #587eb5;
    }
  }
  .enter-btn {
    background: none;
    &:hover {
      color: $dark-gray;
    }
  }
  button:disabled {
    @include disabled;
    color: $white;
    background: $opacity-blue;
    &:hover {
      color: $white;
      background: $opacity-blue;
    }
  }
}
.register-container {
  padding-top: 120px;
 height: calc(100% - 221px);
}
