<!-- <form [formGroup]="reg">
  <h3>Login</h3>
  <mat-form-field *ngFor="let regField of regFields">
    <mat-label>{{regField.id }}</mat-label>
    <input matInput id="{{regField.id}}" autocomplete="off" type="{{regField.type}}"
      formControlName="{{loginField.id}}">
    <mat-error>{{createErrorMessage(loginField)}}</mat-error>
  </mat-form-field>
  <div class="btn-wrap">
    <button class="registration-btn">Registration</button>
    <button class="enter-btn" [disabled]="!login.valid">Login</button>
  </div>
</form> -->
